:root {
  --platinum: #d8dbe2;
  --black: #000103;
  --green: #6e9075;
  --blue: #36558f;
  --brown: #7a542e;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  height: 100px;
}

.heading h1 {
  font-family: Ubuntu, sans-serif;
  text-align: center;
  font-size: 2.3em;
  text-decoration: dotted;
}
