:root {
  --platinum: #d8dbe2;
  --black: #000103;
  --green: #6e9075;
  --blue: #36558f;
  --brown: #7a542e;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: Ubuntu, sans-serif;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  height: 100px;
}

.heading i {
  color: var(--platinum);
  margin-right: 20px;
}

.heading h1 {
  font-family: Ubuntu, sans-serif;
  text-align: center;
  font-size: 2.3em;
  text-decoration: dotted;
  color: var(--platinum);
}

.popular-reads-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--black);
  background-color: var(--platinum);
}

.popular-reads-container h2 {
  margin-bottom: 0;
  text-decoration: underline;
}

.popular-reads-container img {
  object-fit: cover;
  height: 400px;
  width: 250px;
  border-radius: 20px;
  transform: translateX(0px);
  transition: 0.5s all;
  z-index: -1;
}

.popular-reads-container img:hover{
  cursor: pointer;
  box-shadow: 6px 6px 40px 10px gray;
}


.grid-of-books{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}
