:root {
  --platinum: #d8dbe2;
  --black: #000103;
  --green: #6e9075;
}

.navbar ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 16px 0;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  height: 50px;
  background-color: var(--platinum);
}

.navbar ul li {
  font-size: 1.2em;
  font-family: Dosis, sans-serif;
  font-weight: 700;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--black);
  transition: color 0.15s;
}

.navbar ul li a:hover {
  color: var(--green);
}
